li {
  padding: 5px;
  margin: 5px;
  background: #faebd7;
  border-radius: 25px;
}

.create-update-form {
  padding: 5px;
  margin: 5px;
  background: aqua;
}

/*.devour-btn {
	height: 34px;
	width: 87px;
}
*/