li {
  padding: 5px;
  margin: 5px;
  background: #faebd7;
  border: 2px solid;
  border-radius: 25px;
}

.create-update-form {
  padding: 5px;
  margin: 5px;
  background: aqua;
}

/*form.devour-btn {
	height: 34px;
}*/
